{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Song Recommender</h1>
    <h4 style="text-align: center">Which song do you want your playlist based on?</h4>
    <div style="text-align: center" class="form">
        <form action='/' method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search Song">
        </form>
    <h5 style="text-align: center"><i>{{message}}</i></h5>
</div>
{% endblock %}